# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
Prototype/[Bb]uilds/
Prototype/[Ll]ibrary/
sysinfo.txt
*.stackdump
Prototype/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
Prototype/*.userprefs
Prototype/*.csproj
Prototype/*.pidb
*.pidb.meta
Prototype/*.suo
Prototype/*.sln*
Prototype/*.user
Prototype/*.unityproj
Prototype/*.booproj
.consulo/
Prototype/*.tmp
Prototype/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/